extends layout

block content
  .row
    h1 #{post_title}
    -if(isCurator){
      h2(style="color:red" href="#") [Remove Post?]
    -}
    h1 by #{username}

  .row
    h3 #{post_content}   
  
  .row
    -for i in comments
      h4 #{i.comment} - #{i.user}
    
  hr
